
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400% 400%;
    animation: bgMove 10s infinite linear;
    color: white;
}


@keyframes bgMove {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}


.rainbow-text {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.color-box {
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    border-radius: 15px;
    width: 80%;
    font-size: 1.3rem;
    font-weight: bold;
}


.pink {
    background-color: pink;
    color: aqua;
}

.yellow {
    background-color: yellow;
    color: purple;
}

.cyan {
    background-color: rgb(0, 255, 115);
    color: orange;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(5, 195, 56);
    color: rgb(19, 70, 179);
    font-weight: bold;
    margin: 50 px;
}


